.table-design {
    width: 320px;
    height:180px; 
    border: 1px solid grey; 
    background-color: #f4f2f1;
    padding: 5px; 
    margin: 5px; 
    display: inline-table;   
    box-shadow: 3px 3px grey;
    text-align: $text-align-center;
    float: left;
}

.delete-checkbox
{
    position: relative;
    top: -10px;
    right: -50px;
    margin-left: 170px;
}